

    <h1 class="Tproyectos">Mis Proyectos</h1>
    <div class="gallery-container">
        <div class="gallery__item" >
            <a href="https://www.takaisolar.cl/" target="_blank" > <img src="assets/img/takai.png"  alt="" class="gallery__img">
                <h2 class="gallery__title">Takai Urban</h2></a>

        </div>
        <div class="gallery__item">
          <a href=" https://nelson19371.github.io/TechNews/" target="_blank"><img src="assets/img/FoxCode.png" alt="" class="gallery__img"></a>

            <h2 class="gallery__title">Fox Code</h2>
        </div>
        <div class="gallery__item">
          <a href=" https://nelson19371.github.io/PROYECTO/" target="_blank"><img src="assets/img/tareas.png" alt="" class="gallery__img">
            <h2 class="gallery__title">Tareas</h2></a>

        </div>
        <div class="gallery__item">
            <a href="https://nelson19371.github.io/react-gifexpertapp/" target="_blank" ><img src="assets/img/gifApp.png" alt="" class="gallery__img">
            <h2 class="gallery__title">gif expert app</h2></a>
        </div>
        <div class="gallery__item">
            <img src="assets/img/gifApp.png" alt="" class="gallery__img">
            <h2 class="gallery__title">En construcción</h2>
        </div>
        <div class="gallery__item">
            <a href="https://nelson19371.github.io/Lista-de-productos/" target="_blank"><img src="assets/img/ListaProductos.png" alt="" class="gallery__img">
              <h2 class="gallery__title">Lista de productos</h2></a>
        </div>
        <div class="gallery__item">
          <a href="https://nelson19371.github.io/pokedex/" target="_blank">
            <img src="assets/img/pokedex.png" alt="" class="gallery__img">
          <h2 class="gallery__title">Pokedex</h2>
          </a>
        </div>
        <div class="gallery__item">
          <a href="https://nelson19371.github.io/Tarjeta-de-presentacion">
            <img src="assets/img/qrTakai.PNG" alt="" class="gallery__img">
            <h2 class="gallery__title">Tarjeta de presentación takai urban</h2>
          </a>

        </div>
        <div class="gallery__item">
          <a href="https://nelson19371.github.io/practica_angular/" target="_blank">
            <img src="assets/img/DBZ.PNG" alt="" class="gallery__img">
            <h2 class="gallery__title">LISTA DBZ</h2>
          </a>
        </div>
    </div>
    <section>
      <app-contactos></app-contactos>

    </section>




