<div class="lenguajes__container">
  <h1 class="titulo">Contacto</h1>
  <div class="lenguajes">
    <div class="gallery__item">
      <a href="https://www.linkedin.com/in/
      nelson-sandoval-18447a1b9" target="_blank">
      <img src="assets/img/linkedin.png" alt="" class="gallery__img">
      <h2 class="gallery__title_html">Linkedin</h2></a>
  </div>
  <div class="gallery__item">
  <a href="https://github.com/nelson19371" target="_blank">
      <img src="assets/img/github.png" alt="" class="gallery__img">
      <h2 class="gallery__title_css">Github</h2></a>
  </div>




</div>


  </div>
